<% include templates/head %>

<% include templates/navigation %>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <form
    class="form-inline" 
    action="/dashboard" 
    method="post">
      <div class="form-group">
        <input 
        type="url"
        class="form-control"
        placeholder="Article URL"
        name="articleUrl"
        autofocus>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Add new article</button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <% include templates/errors %>
    <% include templates/infos %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <% if(locals.articles && locals.articles.length) { %>
    <div class="table-responsive">
      <table id="articles" class="table table-condensed">
        <caption><b>Articles</b></caption>
        <thead>
          <tr>
            <th>#</th>
            <th>TITLE</th>
            <th>URL</th>
            <th>DATE</th>
          </tr>
        </thead>
        <tbody>
          <% locals.articles.forEach(function(article) { %>
            <tr>
              <td><%= article.id %></td>
              <td>
                <a href="/articles/<%= article.id %>">
                  <%= article.title%>
                </a>
              </td>
              <td>
                <a
                style="color: green;" 
                href="<%= article.url %>" 
                target="_blank"><%= article.url%></a>
              </td>
              <td><%= (new Date(article.created_at * 1000)).toLocaleDateString() %></td>
              <td>
                <a
                style="color: lightcoral;"
                target="_blank" 
                href="/articles/pdf/<%= article.id %>">PDF</a>
              </td>
              <td>
                <a
                style="color: red;"
                href="/articles/delete/<%= article.id %>">&#10008;</a>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <% } else { %>
    <span>No articles to read</span>
    <% } %>
  </div>
</div>

<% include templates/foot %>